body {
    padding: 0;
    margin: 0;
    border-top: 3px solid #47c520;
}

body > div {
    border: 1px dashed red;
    width: 900px;
    margin: 0 auto;
}

#header {
    border: 1px solid blue;
}
img {
    vertical-align: bottom;
    border: 1px solid black;
    margin: 3px;
    width: 300px;
}
.clear {
    clear: both;
    float: none;
}
#headerLeft > div {
    float: right;
}
.ava {
    border: 3px dotted green;
    float: left;
}
