body {
    padding: 0;
    margin: 0;
    border-top: 3px solid #47c520;
    font-family: Trebuchet MS, sans-serif;
    z-index: 5;
}

#telo {
    /*border: 1px dashed red;*/
    width: 900px;
    margin: 0 auto;
}

#header {
    /*border: 1px solid blue;
    padding: 10px;*/
}
img {
    vertical-align: bottom;
    max-width: 100%;
    position: relative;
}
.clear {
    float: none;
}
#headerLeft {
    float: right;
    text-align: right;
    /*border: 1px dotted green;*/
    width: 73%;
}
#headerLeft > div {
    /*border: 1px solid firebrick;*/
}
#ava {
    /*border: 2px solid #aeeb83;*/
    -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
    float: left;
    width: 26%;
    padding: 1px;
    z-index: 1;
}

.clear {
    clear: both;
}

#telephone {
    font-size: 16pt;
    margin-top: 30px;
}

#name {
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    margin-top: 60px;
}
#sign {
    text-align: center;
    font-size: 20pt;
}
#body {
    /*border: 1px solid green;*/
    margin-top: 30px;
}
#plashka {
    /*border: 3px dotted #47c520;*/
    width: 100%;
    height: 29px;
    position: absolute;
    margin-top: 328px;
    z-index: 2;
    /*background: url(img/plashka.jpg) repeat-x;*/
    background-color: #aeeb83;*
    -webkit-box-shadow: 0 3px 7px 0 rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0 3px 7px 0 rgba(50, 50, 50, 0.2);
    box-shadow:         0 3px 7px 0 rgba(50, 50, 50, 0.2);
}


#menu {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

#menu>div {
    height: 100%;
    width: 100%;
    float: left;
}
#menu > div a {
    display: block;
    float: left;
    vertical-align: middle;
    height: 26px;
    padding:4px 10px 0 10px;
    text-decoration: none;
    font-weight: bold;
    border-right: 1px solid #bdff8e;
    border-left: 1px solid #8ec06b;
    color: #253a17;
}
#menu > div a:first-of-type {border-left: none}
#menu > div a:last-of-type {border-right: none}
#menu>div a:hover {
    background-color: #47c520;
    color: white;
}
/*Выравниваем пункты меню по центру при помощи обёртки*/
#menu > div > div {
    margin: auto;
    width: 876px;
}